body {
    color: white;
}

.title {
    background-color: #0D182C;
    display: flex;
    justify-content: space-between;
    height: 110px;

}

.avatar {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.logotipe {
    width: 20%;
}

.logotipe img {
    border-radius: 50%;
}

.text_logotipe a {
    margin-left: 10px;
    font-size: 30px;
    font-style: italic;
}

.navigation_request {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

nav {
    margin: 6px;
    text-decoration: none;
    font-size: 30px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}


.vidio_header {
    position: relative;
    padding-bottom: 55%;
    z-index: 1;
}

.vidio_media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
}

.main_inner_request {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    content: "";
    width: 70%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 50px;

}

form {
    width: 70%;
    margin-bottom: 100px;
}

.input-box {
    /* width: 100%; */
    height: 20%;
    margin: 20px 0;
}

.input-box input,
.input-box textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: #bceff8;
    font-size: 15px;
}

.input-box textarea {
    resize: none;
    padding: 20px;
    width: 96%;
}

.message-box {
    min-height: 20%;
}
.button{
display: inline-block;
}
.button input[type="button"] {
    color: white;
    background-color: #bceff8;
    border: none;
    padding:  15px 60px;
font-size: 20px;
}
.button input[type="button"]:hover{
background-color: #6cd3e8;
}

@media screen and (max-width:1666px) {
    .input-box textarea {
        width: 95%;
    }
}

@media screen and (max-width:1300px) {
    .input-box textarea {
        width: 94%;
    }
}

@media screen and (max-width:1300px) {
    .input-box textarea {
        width: 93%;
        height: 80%;
    }

    .input-box input {
        height: 80%;
    }
    .button input[type="button"]{
        padding: 10px 50px;
        font-size: 20px
    }

}

@media screen and (max-width:1000px) {
    .input-box textarea {
        height: 70%;
    }
    form{
        margin-bottom: 80px;
    }
}

@media screen and (max-width:950px) {
    nav {
        font-size: 25px;
    }


.avatar {
    max-width: 90%;
    margin-left: 80px;
}

.text_logotipe a {
    font-size: 25px;
}
}
@media screen and (max-width:900px) {
    .input-box textarea {
        width: 92%;
    }

    .avatar {
        max-width: 85%;
        margin-left: 75px;
    }

    .text_logotipe a {
        font-size: 23px;
    }

    nav {
        font-size: 23px;
    }


}

@media screen and (max-width:750px) {
    .input-box textarea {
        width: 89%;
        height: 60%;
    }

    .input-box input {
        height: 80%;
        margin: 5px 0;
    }
}

@media screen and (max-width:700px) {
    .input-box textarea {
        width: 89%;
        height: 40%;
        font-size: 10px;
    }

    .input-box input {
        height: 60%;
        margin: 7px 0;
        font-size: 10px;
    }

    .input-box {
        margin: 10px 0;
    }

    .avatar {
        max-width: 85%;
        margin-left: 75px;
    }

    .text_logotipe a {
        font-size: 18px;
    }
    .input-box textarea{
        padding: 10px 20px;
    }

    nav {
        font-size: 18px;
    }

    .title {
        height: 90px;
    }
    form{
    margin-bottom: 27px;}
    .button input[type="button"]{
        padding: 8px 40px;
    font-size: 15px
    }
}

@media screen and (max-width:600px) {
    .input-box textarea {
        width: 87%;
        height: 30%;
        font-size: 10px;
        padding: 10px 20px;
    }

    .input-box input {
        height: 50%;
        margin: 4px 0;
        font-size: 10px;
    }

    .input-box {
        margin: 5px 0;
    }
    form{
        margin-bottom: 5px;
    }
    .button input[type="button"]{
        padding: 3px 26px;
    font-size: 10px;
    }
    p{
        font-size: 30px;
    }
    .title{
height: 70px;
    }
}

@media screen and (max-width:500px) {
    .input-box textarea {
        width: 84%;
        height: 20%;
        font-size: 10px;
    }

    .input-box input {
        height: 50%;
        margin: 4px 0;
        font-size: 10px;
    }

    .input-box {
        margin: 5px 0;
    }

    .title {
        height: 70px;
    }

    .avatar {
        max-width: 85%;
        margin-left: 75px;
    }

    .text_logotipe a {
        font-size: 12px;
    }

    nav {
        font-size: 12px;
    }

    p {
        font-size: 20px;
    }
}

@media screen and (max-width:500px) {
    .input-box textarea {
        width: 82%;
        height: 20%;
        font-size: 8px;
    }

    .input-box input {
        height: 50%;
        margin: 4px 0;
        font-size: 8px;
    }

    .input-box {
        margin: 5px 0;
    }

    .title {
        height: 70px;
    }

    .avatar {
        max-width: 85%;
        margin-left: 75px;
    }

    .text_logotipe a {
        font-size: 10px;
    }

    nav {
        font-size: 10px;
    }

    p {
        font-size: 15px;
    }

    .navigation_request {
        margin-right: 80px;
    }
}
@media screen and (max-width:400px){
    .input-box textarea{
        width: 80%;
        padding: 7px 20px;
    }
}
@media screen and (max-width:325px) {
    .title {
        height: 30px;
    }

    .text_logotipe a {
        font-size: 5px;
        margin: 0 5px;
    }

    .text_logotipe {
        margin-bottom: 10px;
    }

    .navigation_request {
        margin-right: 50px;
    }

    nav {
        font-size: 7px;
    }

    p {
        font-size: 12px;
        margin: 0;
    }

    .input-box {
        margin: 1px 0;
        height: 15%;
    }

    .input-box input {
        height: 40%;
        margin: 10px 0;
        font-size: 6px;
    }

    .input-box textarea {
        width: 76%;
        height: 1%;
        font-size: 6px;
        margin: 12px 0;
        padding: 7px 20px;
    }

    form {
        margin-bottom: 0;
        height: 80px;
    }
    .button input[type="button"] {
        padding: 0px 20px;
        font-size: 8px;
    }

}